/* Select2 */
.select2-container--default .select2-selection--single{
    height:40px !important;
    padding-top:10px !important;
    border:1px solid #e5e5e5 !important;
    border-radius: 10px !important;
}
 
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:7px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-left:16px !important;
    line-height: 1.3 !important;
} 

.select2-container--default .select2-selection--multiple{
    min-height:40px !important;
    padding-top:3px !important;
    padding-left:4px !important;
    border:1px solid #e5e5e5 !important;
    border-radius: 10px !important;
}
.select2-dropdown{
    z-index:4000 !important;
}
.select2-close-mask{
    z-index: 3000 !important;
}
/* 
span.select2.select2-container.select2-container--default{
    width:100% !important;
}

 */

/* Summernote */
.note-color .dropdown-toggle {
    width: 35px !important;
}
.note-color .note-dropdown-menu.show{
    display:flex !important;
}
