.form-control.like_select2{
    padding-top: 14px;
    padding-bottom: 12px;
    color: #999;
    font-size:14px;
}

.unfollow:hover{
    background-color: rgb(226, 12, 12) !important;
    color: #fff !important;
}